<h1>Welcome to the Bookstore!</h1>
<p>Select an option below:</p>
<ul>
  <li><a href="<%= api_items_path %>">View Items (API)</a></li>
  <li><a href="<%= api_orders_path %>">Place an Order (API)</a></li>
  <li><a href="<%= api_notifications_path %>?customer_id=1">View Notifications (API)</a></li>
</ul>
